body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.logo {
  position: absolute;
  margin-top: -55px;
  z-index:2;
  
  }

  .top-nav {
    height: 120px;
    margin-top: -88px;
  }

  .menu-list {
    margin-left: 200px;
  }

  #hero {
    background: red; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .odd {
    background: #2c2c2c

  }

  .even {
    background: #000000

  }
  #promo1 {
    background: #fdde38;
  }

  #home-space {
    background: #dddddd; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 80px 0;
  }

  #footer {
    background: #303030;
    color:white;
  }

  .footer1 a {
    padding: 10px;
    color: white;
  }

  #footer-links {
    background : #111111;
    text-align: center;
  }

  #call {
    background: #000000;
    text-align: center;
    color: white;
  }

  #newsletter {
    background: #303030 url(background-images/signup-bg.png) no-repeat left center;
    background-size: auto;
    background-size: 400px 420px;
    padding: 60px 0 60px 0;
    text-align: center;
    color: white;
  }

  .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .odd {
    text-align: center
  }

  .even {
    text-align: center
  }

  .odd h6 {
   color: #999999
  }

  .even h6 {
    color: #999999
   }

   .odd p {
    color: #fff
   }

   .even p {
    color: #fff
   }

   .companies h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #222;
    background: url(background-images/about_companies_icon@2x.png) no-repeat bottom center;
        background-size: auto;
    background-size: 200px 50px;
    padding-bottom: 60px;
}

.companies {
  text-align: center;
}

.recipes h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #222;
  background: url(background-images/about_companies_icon@2x.png) no-repeat bottom center;
      background-size: auto;
  background-size: 200px 50px;
  padding-bottom: 60px;
}

.gal {
	
	
	-webkit-column-count: 6; /* Chrome, Safari, Opera */
    -moz-column-count: 6; /* Firefox */
    column-count: 6;
	  
	
	}	
	.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
		.gal {
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	
	}
		
	}
